$width:1px solid black;
$text:center;
body , table{
    text-align: $text;
    tr{
        text-align: $text;
        border: $width;
    }
    td{
        text-align: $text;
        border:$width;
    }
    th{
        text-align: $text;
        border: $width;
    }
}