table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 2px;
}

th {
  border: 1px solid rgb(165, 145, 145);
  padding: 2px;
}

body{
  text-align:center;
}